{%extends 'lobsternachos/blank.html'%}
{%block title%} - Menu{%endblock%}
{%block css%}

<!-- Datatable -->
<link href="/static/css/jquery.dataTables_themeroller.css" rel="stylesheet">


<!-- Gritter -->
<link href="/static/css/gritter/jquery.gritter.css" rel="stylesheet">

<!-- Google Code Prettify -->
<link href="/static/css/prettify.css" rel="stylesheet">
{%endblock%}

			{%block breadcrumb%}
					<li class="active">Items</li>
			{%endblock%}
			{%block content%}
			<ul class="tab-bar grey-tab">

				{% for category in categories_list %}

					{% if forloop.first %}
						<li class="active">
					{% else %}
						<li>
					{%endif%}

					<a href="#{{category.CategoryName}}" data-toggle="tab">
						<span class="block text-center">
							<i class="fa fa-home fa-2x"></i>
						</span>
						{{category.CategoryName}}
					</a>
				</li>
				{%endfor%}

		{% if not categories_list %}
		<li class="active">

						<a href="#noCategories" data-toggle="tab">
							<span class="block text-center">
								<i class="fa fa-home fa-2x"></i>
							</span>
							Items
						</a>
					</li>
		{%endif%}
				<a style="margin-top:13px;margin-left:13px;margin-bottom:13px" href="#formNewCategory" role="button" data-toggle="modal" class="btn btn-primary btn-small"><i class="fa fa-plus-circle"></i>
					New category</a>
			</ul>

			<div class="padding-md">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="tab-content">

					{% if not categories_list %}
							<div class="tab-pane fade in active" id="noCategories">

								<h3 class="headline m-top-md">
									No categories
									<span class="line"></span>
														</h3>

												<p>
													There doesn't exist categories yet, to create a category, press the  "New category" button.
												</p>
										</div>

							{%endif%}


							{% for category in categories_list %}

							{% if forloop.first %}
									<div class="tab-pane fade in active" id="{{category.CategoryName}}">
								{% else %}
									<div class="tab-pane fade" id="{{category.CategoryName}}">
							{%endif%}

								<div class="panel panel-default table-responsive">
									<div class="panel-heading">
										Menu Items
										<span class="label label-info pull-right">{{categories_list|length}} item{{ categories_list|length|pluralize:",s" }}</span>
									</div>
									<div class="padding-md clearfix">
										<table class="table table-striped" id="dataTable{{category.CategoryName}}">
											<thead>
												<tr>
													<th class="no-sort">
									<label class="label-checkbox">
										<input type="checkbox" id="chk-all">
										<span class="custom-checkbox"></span>
									</label>
								</th>
													<th>No</th>
													<th>Product</th>
													<th>Price</th>
													<th>Quantity</th>
													<th>Sales</th>
													<th>Last Updated</th>
													<th>Status</th>
												</tr>
											</thead>
											<tbody>


{%load items%}
			{% for item in items_list|get_at_index:foorloop.counter %}

				<tr><td>
	<label class="label-checkbox">
		<input type="checkbox" class="chk-row">
		<span class="custom-checkbox"></span>
	</label>
</td>
					<td>

						#1001</td>

					<td>Leather Bag</td>
					<td>$89</td>
					<td>30</td>
					<td>187</td>
					<td>Oct 08,2013</td>
					<td><span class="label label-success">In Stock</span></td>
				</tr>

			{%endfor%}


											</tbody>
										</table>

									</div><!-- /.padding-md -->
									<div class="panel-footer text-right">
										<a href="items/new"  class="btn btn-sm btn-success"><i class="fa fa-plus"></i>Add Menu Item</a>
										<a class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i> Delete</a>
									</div>
								</div><!-- /panel -->
							</div><!-- /tab1 -->
							{%endfor%}
						</div><!-- /tab-content -->
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.padding-md -->





			{% endblock %}
{%block modal%}
<div class="modal fade" id="formNewCategory">
		<div class="modal-dialog">
			<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4>New Category</h4>
					</div>
				<div class="modal-body">
				<form action="/categories/create" method="post">
					{% csrf_token %}
					<div class="form-group">
						<label>Name</label>
						<input name="CategoryName" type="text" class="form-control input-sm" placeholder="Name">
					</div><!-- /form-group -->

					<div class="modal-footer">
							<button class="btn btn-success btn-sm" data-dismiss="modal" aria-hidden="true">Close</button>
					<input type="submit" value="Create" class="btn btn-danger btn-sm"/>
					</div>
				</form>
				</div>

			</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{%endblock%}
			{%block javascript%}

			<!-- Datatable -->
			<script src='/static/js/jquery.dataTables.min.js'></script>

	<!-- holder -->
	<script src='/static/js/uncompressed/holder.js'></script>

	<!-- Gritter -->
	<script src="/static/js/jquery.gritter.min.js"></script>

	<!-- Google Code Prettify -->
	<script src='/static/js/uncompressed/run_prettify.js'></script>
{%endblock%}

{%block extrajs%}<script>
	$(function	()	{




		{% for category in categories_list %}


		$('#dataTable{{category.CategoryName}}').dataTable( {
				"bSortClasses" : false,

			"bJQueryUI": true,
			"sPaginationType": "full_numbers"
			,"aoColumnDefs" : [ {
			"bSortable" : false,
			"aTargets" : [ "no-sort" ]
	} ]
		});


{%endfor%}


		$('#chk-all').click(function()	{
			if($(this).is(':checked'))	{
				$('#dataTable').find('.chk-row').each(function()	{
					$(this).prop('checked', true);
					$(this).parent().parent().parent().addClass('selected');
				});
			}
			else	{
				$('#dataTable').find('.chk-row').each(function()	{
					$(this).prop('checked' , false);
					$(this).parent().parent().parent().removeClass('selected');
				});
			}
		});
	});
</script>{%endblock%}
