{%extends 'lobsternachos/blank.html'%}
{%block content%}





<div class="padding-md">
				<div class="row">
					<div class="col-md-12">

            <div class="panel panel-default">
              <div class="panel-heading">New Item</div>
              <div class="panel-body">
                <form class="form-horizontal">

                  <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control input-sm" id="inputEmail1" placeholder="Item Name">
                    </div><!-- /.col -->

                  </div><!-- /form-group -->
                  <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 control-label">Description</label>
                    <div class="col-lg-10">
                      <textarea class="form-control" rows="3" placeholder="Description"></textarea>
                    </div><!-- /.col -->

                  </div>
                    <div class="form-group">
                      <label for="inputEmail1" class="col-lg-2 control-label">Calories</label>
                      <div class="col-lg-10">
                        <input type="text" class="form-control input-sm" id="inputEmail1" placeholder="Calories">
                      </div><!-- /.col -->

                  </div>
                    <div class="form-group">
                      <label for="inputEmail1" class="col-lg-2 control-label">Price</label>
                      <div class="col-lg-10">
                        <input type="text" class="form-control input-sm" id="inputEmail1" placeholder="$00.00">
                      </div><!-- /.col -->


                  </div><!-- /form-group -->
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <label class="label-checkbox">
                        <input type="checkbox">
                        <span class="custom-checkbox"></span>
                        Daily Special
                      </label>
                    </div><!-- /.col -->
                  </div><!-- /form-group -->


                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <label class="label-checkbox">
                        <input type="checkbox">
                        <span class="custom-checkbox"></span>
                        Active
                      </label>
                    </div><!-- /.col -->
                  </div><!-- /form-group -->


                  <div class="form-group">
                    <label class="control-label col-lg-2">Upload Image</label>
                    <div class="col-lg-10">
                      <div class="upload-file">
                        <input type="file" id="upload-demo" class="upload-demo">
                        <label data-title="Select file" for="upload-demo">
                          <span data-title="No file selected..."></span>
                        </label>
                      </div>
                    </div><!-- /.col -->
                  </div><!-- /form-group -->







                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <button type="submit" class="btn btn-success btn-sm">Sign in</button>
                    </div><!-- /.col -->
                  </div><!-- /form-group -->
                </form>
              </div>
            </div><!-- /panel -->

          </div>

        </div>
      </div>
{%endblock%}
