{%extends 'lobsternachos/blank.html'%}
{%block title%} - Menu{%endblock%}
{%block css%}

<!-- Datatable -->
<link href="/static/css/jquery.dataTables_themeroller.css" rel="stylesheet">


<!-- Gritter -->
<link href="/static/css/gritter/jquery.gritter.css" rel="stylesheet">

<!-- Google Code Prettify -->
<link href="/static/css/prettify.css" rel="stylesheet">
{%endblock%}


{% block options_nav %}
<li class="active openable open">
	{% endblock %}

	{% block menu_nav %}
	<li class="active" >
		{%endblock %}

		{%block breadcrumb%}
		<li class="active">Menu</li>
		{%endblock%}

		{%block content%}
		<ul class="tab-bar grey-tab">

			{% for category in categoriesList %}

			{%if categoryID %}

			{%if categoryID == category.key.integer_id %}
			<li class="active">
				{% else %}
				<li>
					{%endif%}

					{%else%}
					{% if forloop.first %}
					<li class="active">
						{% else %}
						<li>
							{%endif%}
							{%endif%}

							<a id="link{{category.key.integer_id}}" href="#tab{{category.key.integer_id}}" data-toggle="tab">
								<span class="block text-center">
									<i class="fa fa-cutlery fa-2x"></i>
								</span>
								{{category.CategoryName}}
							</a>
						</li>
						{%endfor%}


						{% if not categoriesList %}
						<li class="active">
							<a href="#noCategories" data-toggle="tab">
								<span class="block text-center">
									<i class="fa fa-cutlery fa-2x"></i>
								</span>
								Menu
							</a>
						</li>
						{%endif%}

						{%if categoriesList%}

						<form  id="deleteCategoryForm" action="/categories/delete" method="post">
							{%else%}
							<form>
								{%endif%}
								{% csrf_token %}

								{%if categoryID%}
								<input id="deleteCategoryInput" type="hidden" name="categoryID" value="{{categoryID}}"/>
								{%else%}
								<input id="deleteCategoryInput"  type="hidden" name="categoryID" value="{{categoriesList.0.key.integer_id}}"/>
								{%endif%}
								<div style="margin-top:13px;margin-left:13px;margin-bottom:13px" class=" btn-group">
									<a  role="button"   data-toggle="modal" href="#formNewCategory" class="btn btn-success btn-small"><i class="fa fa-plus-circle"></i>
										New Category
									</a>

									{% if categoriesList %}
									<button class="btn btn-success btn-small dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
									<ul class="dropdown-menu slidedown">
										<li>

											{%if categoryID%}
											<a    data-toggle="modal" id="editCategoryLink" href="#formEditCategory{{categoryID}}">

												{%else%}
												<a     data-toggle="modal" id="editCategoryLink" href="#formEditCategory{{categoriesList.0.key.integer_id}}">
													{%endif%}
													<i class="fa fa-edit"></i> Edit selected category
												</a>
											</li>

											<li>

												<a href="javascript:{}" onclick="document.getElementById('deleteCategoryForm').submit(); return false;"><i class="fa fa-trash-o"></i> Delete selected category</a>
											</li>

										</ul>
										{% endif %}
									</div>
								</form>
							</ul>

							<div class="padding-md">
								<div class="row">
									<div class="col-md-12 col-sm-12">
										<div class="tab-content">

											{% if not categoriesList %}
											<div class="tab-pane fade in active" id="noCategories">

												<h3 class="headline m-top-md">
													No categories
													<span class="line"></span>
												</h3>

												<p>
													There doesn't exist categories yet. To create a category, press the "New Category" button.
												</p>
											</div>

											{%endif%}


											{% for category in categoriesList %}




											{%if categoryID %}

											{%if categoryID == category.key.integer_id %}
											<div  class="tab-pane fade in active" id="tab{{category.key.integer_id}}">
												{% else %}
												<div class="tab-pane fade" id="tab{{category.key.integer_id}}">
													{%endif%}



													{%else%}
													{% if forloop.first %}
													<div
													class="tab-pane fade in active" id="tab{{category.key.integer_id}}">
													{% else %}
													<div class="tab-pane fade" id="tab{{category.key.integer_id}}">
														{%endif%}
														{%endif%}


														<form  id="deleteItemForm" action="/menu/delete" method="post">
															{% csrf_token %}
															<input type="hidden" name="categoryID" value="{{category.key.integer_id}}"/>


															<div class="panel panel-default table-responsive ">
																<div class="panel-heading">
																	Menu Items

																	<span class="label label-info pull-right">
																		
																		{%load templatehelpers %}
																		{{itemLists|get_at_position:forloop.counter|length}} item{{ itemLists|get_at_position:forloop.counter|length|pluralize:",s" }}</span>
																	</div>

																	<div class="padding-md clearfix">
																		<table class="table table-striped" id="dataTable{{category.key.integer_id}}">
																			<thead>
																				<tr>
																					<th class="no-sort">
																						<label class="label-checkbox">
																							<input type="checkbox" id="chk-all{{category.key.integer_id}}">
																							<span class="custom-checkbox"></span>
																						</label>
																					</th>
																					<th class="no-sort hidden-xs" >Image</th>
																					<th>Name</th>
																					<th>Calories</th>
																					<th>Price</th>

																					<th>Daily Special</th>
																					<th>Status</th>
																					<th>Total Sold</th>
																					<th>Created</th>
																					<th>Last Updated</th>
																					<th class="no-sort"></th>
																				</tr>
																			</thead>
																			<tbody>


																				{% for item in itemLists|get_at_position:forloop.counter %}

																				<tr>


																					<td>
																						<label class="label-checkbox">


																							<input type="checkbox" name="item" value="{{item.key.integer_id}}" class="chk-row">
																							<span class="custom-checkbox"></span>
																						</label>
																					</td>

																					<td class="text-center hidden-xs">
																						<img width="60px" height="60px" src="/blobstore/serve/{{item.ImagePath.0}}" alt="Product Image" src=".">
																					</td>
																					<td >
{{item.ItemName}}
																					</td>
																					<td class="text-center">
																						{{item.Calories}}
																					</td>
																					<td class="text-center">
																						${{item.Price}}
																					</td>
																					<td class="text-center">
																						{% if item.DailySpecial %}
																						<span class="label label-success">Yes</span>
																						{%else %}
																						<span class="label label-primary">No</span>

																						{%endif%}
																					</td>
																					<td class="text-center">
																						{% if item.Active %}
																						<span class="label label-success">Active</span>
																						{%else %}
																						<span class="label label-primary">Inactive</span>

																						{%endif%}
																					</td>
																					<td class="text-center">
																						130
																					</td><td class="text-center">
{{item.Created}}
																					</td><td class="text-center">
																						{{item.LastUpdated}}

																					</td>


																					<td class="text-center">
																						<a href='/menu/edit?categoryID={{category.key.integer_id}}&itemID={{item.key.integer_id}}' class="btn btn-sm btn-info">Edit</a>
																					</td>


																				</tr>




																				{%endfor%}









																			</tbody>
																		</table>

																	</div><!-- /.padding-md -->



																	<div class="panel-footer text-right">

																		<a href="/menu/new?categoryID={{category.key.integer_id}}"  class="btn btn-sm btn-success"><i class="fa fa-plus"></i> Add Menu Item</a>

																		<a  class="btn btn-sm btn-danger" href="javascript:{}" onclick="document.getElementById('deleteItemForm').submit(); return false;"><i class="fa fa-trash-o"></i> Delete Selected Items</a>

																	</div>

																</div><!-- /panel -->
															</form>

														</div><!-- /tab1 -->

														{%endfor%}
													</div><!-- /tab-content -->
												</div><!-- /.col -->
											</div><!-- /.row -->
										</div><!-- /.padding-md -->





										{% endblock %}
										{%block modal%}
										<div class="modal fade" id="formNewCategory">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
														<h4>New Category</h4>
													</div>


													<div class="modal-body">
														<form action="/categories/create" method="post">
															{% csrf_token %}
															<div class="form-group">
																<label>Name</label>
																<input name="categoryName" type="text" class="form-control input-sm" placeholder="Name">
															</div><!-- /form-group -->

															<div class="modal-footer">
																<button type="submit" class="btn btn-success btn-sm">
																	Create</button>

																	<button class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">Close</button>
																</div>
															</form>
														</div>

													</div><!-- /.modal-content -->
												</div><!-- /.modal-dialog -->
											</div><!-- /.modal -->
											{%for category in categoriesList%}
											<div class="modal fade" id="formEditCategory{{category.key.integer_id}}">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
															<h4>Edit Category</h4>
														</div>


														<div class="modal-body">
															<form action="/categories/update" method="post">
																{% csrf_token %}

																<input type="hidden" name="categoryID" value="{{category.key.integer_id}}"/>

																<div class="form-group">
																	<label>Name</label>

																	<input name="categoryName" value="{{category.CategoryName}}" type="text" class="form-control input-sm" placeholder="Name">
																</div><!-- /form-group -->

																<div class="modal-footer">
																	<button type="submit" class="btn btn-info btn-sm">Save Changes</button>

																	<button class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">Close</button>
																</div>
															</form>
														</div>

													</div><!-- /.modal-content -->
												</div><!-- /.modal-dialog -->
											</div><!-- /.modal -->
											{%endfor%}
											{%endblock%}
											{%block javascript%}

											<!-- Datatable -->
											<script src='/static/js/jquery.dataTables.min.js'></script>

											<!-- holder -->
											<script src='/static/js/uncompressed/holder.js'></script>

											<!-- Gritter -->
											<script src="/static/js/jquery.gritter.min.js"></script>

											<!-- Google Code Prettify -->
											<script src='/static/js/uncompressed/run_prettify.js'></script>
											{%endblock%}

											{%block extrajs%}<script>
											$(function	()	{




												{% for category in categoriesList %}




												$("#link{{category.key.integer_id}}").click(function(){


													$("#editCategoryLink").attr("href","#formEditCategory{{category.key.integer_id}}");
													$("#deleteCategoryInput").attr("value","{{category.key.integer_id}}");

												});


												$('#dataTable{{category.key.integer_id}}').dataTable( {
													"bSortClasses" : false,

													"bJQueryUI": true,
													"sPaginationType": "full_numbers"
													,"aoColumnDefs" : [ {
														"bSortable" : false,
														"aTargets" : [ "no-sort" ]
													} ]
												});



												$('#chk-all{{category.key.integer_id}}').click(function()	{
													if($(this).is(':checked'))	{
														$('#dataTable{{category.key.integer_id}}').find('.chk-row').each(function()	{
															$(this).prop('checked', true);
															$(this).parent().parent().parent().addClass('selected');
														});
													}
													else	{
														$('#dataTable{{category.key.integer_id}}').find('.chk-row').each(function()	{
															$(this).prop('checked' , false);
															$(this).parent().parent().parent().removeClass('selected');
														});
													}
												});


												{%endfor%}
											});

											</script>{%endblock%}
