{%extends 'lobsternachos/blank.html'%}
{%block css%}

<!-- Chosen -->
<link href="/static/css/chosen/chosen.min.css" rel="stylesheet"/>

<!-- Datepicker -->
<link href="/static/css/datepicker.css" rel="stylesheet"/>

<!-- Timepicker -->
<link href="/static/css/bootstrap-timepicker.css" rel="stylesheet"/>

<!-- Slider -->
<link href="/static/css/slider.css" rel="stylesheet"/>

<!-- Tag input -->
<link href="/static/css/jquery.tagsinput.css" rel="stylesheet"/>

<!-- WYSIHTML5 -->
<link href="/static/css/bootstrap-wysihtml5.css" rel="stylesheet"/>

<!-- Dropzone -->
<link href='/static/css/dropzone/dropzone.css' rel="stylesheet"/>
{%endblock%}


{%block breadcrumb%}
<li ><a href="/menu">Menu</a></li>
<li class="active">Add Menu Item</li>
{%endblock%}

{% block options_nav %}
<li class="active openable open">
	{% endblock %}

	{% block menu_nav %}
	<li class="active" >
		{%endblock %}

		{%block content%}


		<div class="padding-md">
			<div class="row">
				<div class="col-md-12">


					<div class="panel panel-default " >


						<form   class="form-horizontal no-margin" action="/menu/create" enctype='multipart/form-data' method="post" id="formWizard1" novalidate>
							{% csrf_token %}

							<input type="hidden" name="categoryID" value="{{categoryID}}"/>


							<div class="panel-heading">
								Add Menu Item
							</div>
							<div class="panel-tab">
								<ul class="wizard-steps wizard-demo" id="wizardDemo1">
									<li class="active">
										<a href="#wizardContent1" data-toggle="tab">Information</a>
									</li>
									<li>
										<a href="#wizardContent2" data-toggle="tab">Images</a>
									</li>
									<li>
										<a href="#wizardContent3" data-toggle="tab">Recommendations</a>
									</li>
								</ul>
							</div>

							<div class="panel-body">
								<div class="tab-content">
									<div class="tab-pane fade in active" id="wizardContent1">

										<div class="form-group">
											<label class="control-label col-lg-2">Name</label>
											<div class="col-lg-10">
												<input type="text" name="itemName" placeholder="Menu Item Name" class="form-control input-sm" data-required="true">
											</div><!-- /.col -->
										</div><!-- /form-group -->

										<div class="form-group">
											<label class="control-label col-lg-2">Description</label>
											<div class="col-lg-10">
												<textarea name="description" class="form-control input-sm" rows="3" data-required="true" placeholder="Description"></textarea>

											</div><!-- /.col -->
										</div><!-- /form-group -->



										<div class="form-group">
											<label class="control-label col-lg-2">Calories</label>
											<div class="col-lg-10">
												<input type="text" name="calories" class="form-control input-sm" placeholder="Calories" data-required="true">
											</div><!-- /.col -->


										</div>
										<div class="form-group">
											<label class="control-label col-lg-2">Price</label>
											<div class="col-lg-10">
												<div class="input-group">
													<span class="input-group-addon">$</span>
													<input name="price" type="text" class="form-control input-sm" placeholder="0.00" data-required="true">
												</div>

											</div><!-- /.col -->


										</div><!-- /form-group -->
										<div class="form-group">
											<div class="col-lg-offset-2 col-lg-10">
												<label class="label-checkbox">
													<input name="dailySpecial" type="checkbox" >
													<span class="custom-checkbox"></span>
													Daily Special
												</label>
											</div><!-- /.col -->
										</div><!-- /form-group -->


										<div class="form-group">
											<div class="col-lg-offset-2 col-lg-10">
												<label class="label-checkbox">
													<input name="active" type="checkbox">
													<span class="custom-checkbox"></span>
													Active
												</label>
											</div><!-- /.col -->
										</div><!-- /form-group -->


									</div>




									<div class="tab-pane fade" id="wizardContent2">



<div class="form-group">


	<label class="control-label col-lg-2">Dropzone</label>
	<div class="col-lg-10">
		<div class="alert alert-info">
			<i class="fa fa-info"></i><span class="m-left-xs">This is just a demo dropzone. Uploaded files are not stored.</span>
		</div>
		<input id="image1" type="hidden" name="image1" />
		<input id="image2" type="hidden" name="image2" data-required="true"  data-required-message="Two images are required"/>

		<div id="uploadDiv" class="dropzone">
			<div class="fallback">


				<input name="file" type="file" multiple />
			</div>
		</div>
	</div><!-- /.col -->

</div><!-- /form-group -->

									</div>


									<div class="tab-pane fade padding-md" id="wizardContent3">


										<div class="form-group">
											<label class="control-label col-lg-2">Select the recommended items for this menu item</label>
											<div class="col-lg-10">






												<select multiple="multiple" id="selectedBox1" class="select-box pull-left form-control">
													<option value="1">Apple</option>
													<option value="2">Banana</option>
													<option value="3">Cola</option>
													<option value="4">Dog</option>
													<option value="5">Elephant</option>
												</select>

												<div class="select-box-option">
													<a class="btn btn-sm btn-default" id="btnRemove">
														<i class="fa fa-angle-left"></i>
													</a>
													<a class="btn btn-sm btn-default" id="btnSelect">
														<i class="fa fa-angle-right"></i>
													</a>
													<div class="seperator"></div>
													<a class="btn btn-sm btn-default" id="btnRemoveAll">
														<i class="fa fa-angle-double-left"></i>
													</a>
													<a class="btn btn-sm btn-default" id="btnSelectAll">
														<i class="fa fa-angle-double-right"></i>
													</a>
												</div>

												<select multiple="multiple" id="selectedBox2" class="select-box pull-right form-control">
													<option>Alabama</option>
													<option>Montana</option>
													<option>New Jersey</option>
													<option>New York</option>
													<option>Texas</option>
												</select>
											</div><!-- /.col -->

										</div><!-- /form-group -->


									</div>
								</div>
							</div>
							<div class="panel-footer clearfix">
								<div class="pull-left">
									<button class="btn btn-success btn-sm disabled" id="prevStep1" disabled>Previous</button>
									<button type="submit" class="btn btn-sm btn-success" id="nextStep1">Next</button>
									<button type="submit" class="btn btn-success btn-sm disabled" id="submit1">

										Create</button>
									</div>

									<div class="pull-right" style="width:30%">
										<div class="progress progress-striped active m-top-sm m-bottom-none">
											<div class="progress-bar progress-bar-success" id="wizardProgress" style="width:33%;">
											</div>
										</div>
									</div>
								</div>
							</form>

						</div><!-- /panel -->


					</div>

				</div>
			</div>
			{%endblock%}


			{%block javascript%}
			<!-- Chosen -->
			<script src='/static/js/chosen.jquery.min.js'></script>

			<!-- Mask-input -->
			<script src='/static/js/jquery.maskedinput.min.js'></script>

			<!-- Datepicker -->
			<script src='/static/js/bootstrap-datepicker.min.js'></script>

			<!-- Timepicker -->
			<script src='/static/js/bootstrap-timepicker.min.js'></script>

			<!-- Slider -->
			<script src='/static/js/bootstrap-slider.min.js'></script>

			<!-- Tag input -->
			<script src='/static/js/jquery.tagsinput.min.js'></script>

			<!-- WYSIHTML5 -->
			<script src='/static/js/wysihtml5-0.3.0.min.js'></script>
			<script src='/static/js/uncompressed/bootstrap-wysihtml5.js'></script>

			<!-- Parsley -->
			<script src="/static/js/parsley.min.js"></script>


			<!-- Dropzone -->
			<script src='/static/js/dropzone.min.js'></script>
			{%endblock%}

			{%block extrajs%}
			<!-- Endless -->
			<script src="/static/js/endless/endless_wizard.js"></script>

			<!-- Endless -->
			<script src="/static/js/endless/endless_form.js"></script>
			<script type="text/javascript">

			$('#image1').removeAttr('value');
			$('#image2').removeAttr('value');

			$("#uploadDiv").dropzone({ /* options */

				acceptedFiles: "image/*",
				url: 'http://dummy.com',

				init : function() {
					myDropzone = this;

					myDropzone.on("processingfile", function(file) {
					});

					myDropzone.on("success", function(file,rep) {

								if (myDropzone.files[2]!=null){
        					myDropzone.removeFile(myDropzone.files[2]);

									alert("Oops! The maximum number of files was reached.");
      					}
								else
								{

									file.serverId = rep;

									if($('#image1')[0].value == "")
										$('#image1')[0].value = rep;
									else
										$('#image2')[0].value = rep;
								}
					});


			    myDropzone.on("removedfile", function(file) {
			      if (!file.serverId) { return; }
			      $.post("/blobstore/delete/" + file.serverId);

						if($('#image1')[0].value == file.serverId){
							$('#image1')[0].value = $('#image2')[0].value;
						}

						$('#image2').removeAttr('value');

			    });

					myDropzone.on("addedfile", function() {

								$.get("/blobstore/", function(data) {

										myDropzone.options.url = data.uploadUrl;
										myDropzone.processQueue();

								});

						// Show submit button here and/or inform user to click it.
					});
				}
			});
			myDropzone.element = $("form#formWizard1")[0]
			</script>
			{%endblock%}
